*.py
*.pyc
CMakeLists.txt.user
examples/calculator/.vs/
examples/calculator/debug/
examples/calculator/objects/
examples/calculator/release/
examples/calculator/.qmake.stash
*.stash
*.filters
examples/connection_colors/.vs/
examples/connection_colors/debug/
examples/connection_colors/objects/
examples/connection_colors/release/
examples/example2/.vs/
examples/example2/debug/
examples/example2/objects/
examples/example2/release/
examples/images/.vs/
examples/images/debug/
examples/images/objects/
examples/styles/objects/
examples/styles/debug/
examples/styles/.vs/
examples/styles/release/
examples/images/release/
